$color-gray: #6B7C93;
$color-dark: #161B2D;
$color-dark-opacity: rgba(22, 27, 45, 0.8);
$color-green: #42BA96;
$color-yellow: #F2C94C;
$color-red: #DF4759;
$color-light-gray: #F3F7FB;
$color-blue: #335EEA;
$gray-700: #6E84A3;
$gray-600: #869AB8;
$gray-300: #D9E2EF;
$background: #F5F5F5;
$white: #fff;