$color-gray: #6B7C93;
$color-dark: #161B2D;
$color-green: #42BA96;
$color-yellow: #F2C94C;
$color-red: #DF4759;
$color-light-gray: #F3F7FB;
$color-blue: #335EEA;
$gray-700: #506690;
$gray-600: #869AB8;
$background: #F5F5F5;
$white: #fff;