@import "../abstracts/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
  padding: 10px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    margin: auto;
    .logo {
      width: 33%;
    }
    .nav-items {
      ul {
        display: flex;
        gap: 25px;
        li {
          cursor: pointer;
          font-weight: bold;
          list-style: none;
          margin: 0 10px;
          color: $gray-700;
        }
        .selected {
          color: $color-blue;
        }
      }
      width: 33%;
    }
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 33%;
      button {
        color: $gray-700;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        font-size: 17px;
        background-color: transparent;
        border: none;
      }
    }
    .responsive-button {
      display: none;
    }
  }
  .responsive-nav {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    .header-wrapper {
      width: 90%;
      .responsive-button {
        display: block;
        button {
          background-color: transparent;
          border: none;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .action-buttons {
        display: none;
      }
    }
    .nav-items {
      display: none;
    }
    .responsive-nav {
      margin-top: 10px;
      border-top: 1px solid $gray-300;
      padding: 20px 30px;
      display: block;
      .nav-items {
        display: block;
        ul {
          padding: 0;
          margin: 0;
          li {
            margin-bottom: 10px;
            cursor: pointer;
            font-weight: bold;
            list-style: none;
            color: $gray-700;
          }
          .selected {
            color: $color-blue;
          }
        }
        width: 33%;
      }
      .action-buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        gap: 10px;
        p {
          margin: 0;
        }
        button {
          padding-left: 0;
          color: $gray-700;
          font-weight: bold;
          cursor: pointer;
          text-decoration: none;
          font-size: 17px;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
}
