.home-view {
  .blog-posts-wrapper {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
  }
  .elements-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap: 100px;
    .left-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }
      h4 {
        margin-top: 0;
        margin-bottom: 8px;
        color: $gray-700;
      }
      .back-to-safety {
        cursor: pointer;
        margin-top: 20px;
        background-color: $color-blue;
        font-weight: bold;
        color: $white;
        font-size: 16px;
        border-radius: 6px;
        padding: 13px 20px;
        border: none;
      }
    }
  }
  .load-more {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    button {
      width: 60%;
      min-width: 300px;
      color: $color-blue;
      font-weight: bold;
      border-radius: 10px;
      font-size: 22px;
      border: 2px solid $gray-300;
      padding: 20px 0;
      background-color: transparent;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        background-image: url("../img/arrow-right.svg");
        background-size: cover;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 30px;
        top: 26px;
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .home-view {
    .elements-not-found {
      flex-direction: column-reverse;
      gap: 20px;
      .right-content {
        width: 70%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .home-view {
    .elements-not-found {
      .right-content {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-view {
    .blog-posts-wrapper {
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
    }
  }
}
